Pagination support?

<!-- Issuehunt Badges -->
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/gh-got/issues/22)
<!-- /Issuehunt Badges -->


Would be nice to have pagination support in `gh-got` so consumers don't have to implement it themselves


<!-- Issuehunt content -->

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>


### Backers (Total: $60.00)

- [<img src='https://avatars3.githubusercontent.com/u/44827199?v=4' alt='issuehunt' width=24 height=24> issuehunt](https://issuehunt.io/u/issuehunt) ($60.00)

### Submitted pull Requests
- [#38 Use Got 10](https://issuehunt.io/r/sindresorhus/gh-got/pull/38)
---

#### [Become a backer now!](https://issuehunt.io/r/sindresorhus/gh-got/issues/22)
#### [Or submit a pull request to get the deposits!](https://issuehunt.io/r/sindresorhus/gh-got/issues/22)
### Tips

- Checkout the [Issuehunt explorer](https://issuehunt.io/r/sindresorhus/gh-got/) to discover more funded issues.
- Need some help from other developers? [Add your repositories](https://issuehunt.io/r/new) on IssueHunt to raise funds.
---
IssueHunt has been backed by the following sponsors. [Become a sponsor](https://issuehunt.io/membership/members)
</details>
<!-- /Issuehunt content-->

Agreed. I've needed that before too, but never had the time to implement it here. A pull request would be welcome, but I honestly doubt I'll get to it myself...

[github-parse-link](https://github.com/SamVerschueren/github-parse-link) might help for that as it can parse the pagination header from GitHub.

@SamVerschueren as `next`, `last`, `first`, and `prev` are well defined _relation types_ according to [section 6.2.2 of RFC 5988](https://tools.ietf.org/html/rfc5988#section-6.2), could we build pagination support on top of those Link references into `got` itself?

@destroyerofbuilds How would that look like if it would be part of `got` itself? Maybe exposed as an [async iterator](http://2ality.com/2017/12/for-await-of-sync-iterables.html) of some sort?

From my perspective as a user, an async interator accessed via `for-await-of`, looks ideal.

As a consumer, my code would be:

```javascript
(async function () {
  for await (const response of gotIterator(`https://api.github.com/orgs/microsoft/repos`, {json: true})) {
    console.log(response.body.map(repository => repository.name));
  }
})();
```

The async generator was also quite easy to implement:

```javascript
'use strict';

const got = require(`got`);
const parse = require(`github-parse-link`);

async function* gotIterator(url, options) {
  let next = url;
  do {
    const response = await got(next, options);
    next = parse(response.headers.link).next;
    yield response;
  } while (next);
}
```

A few thoughts on the approach:
- I had to wrap `got` in an async generator. Is there a way to reuse the same entry point?
- Async iterators are only available starting with Node 10.3 (without a flag).

Fetching only the first result is very verbose in my opinion:

```javascript
const repositories = gotIterator(`https://api.github.com/orgs/microsoft/repos`, {json: true})[Symbol.asyncIterator]();
repositories.next().then(x => x.value).then(response => console.log(response.body.map(repository => repository.name)));
```

The semantics of `got`'s `stream` interface wouldn't allow us to stream a series of responses based on fetching all `next` resources, nor would it be flexible as async iterators, since you would end up fetching everything, regardless of whether you needed it.

Perhaps, as an alternative, you could use the existing `got` promise interface, with an option of passing in a previous request, to assist `got` in augmenting the next request:

```javascript
let request;
do {
  request = got(`https://api.github.com/orgs/microsoft/repos`, {previous: request});
}  while (request.hasNext);
```


That looks great!

> I had to wrap got in an async generator. Is there a way to reuse the same entry point?

I don't really know. I'm not that familiar with async generators and iterators yet.

> Async iterators are only available starting with Node 10.3 (without a flag).

That's fine. We'll just detect if `Symbol.asyncIterator` exists and only support it then. We'll also document that it requires Node.js 10.

> Fetching only the first result is very verbose in my opinion:

Why would you use the iterator interface for that? You could just use normal Got.

> Perhaps, as an alternative, you could use the existing got promise interface, with an option of passing in a previous request, to assist got in augmenting the next request:

Not clear if you mean this as an alternative to async iterator support or in addition to?

> That's fine. We'll just detect if Symbol.asyncIterator exists and only support it then. We'll also document that it requires Node.js 10.

:+1: 

> Why would you use the iterator interface for that? You could just use normal Got.

I simply wanted to avoid the cognitive overhead of remembering two functions and their use cases (one for the first page, another for fetching all pages).

However, you are correct. I could use the original `got` interface for fetching the first page.

> Not clear if you mean this as an alternative to async iterator support or in addition to?

As an alternative. To allow using the same function for fetching the first page, and paginating, and to allow support for older Node releases.

@issuehuntfest has funded $60.00 to this issue. [See it on IssueHunt](https://issuehunt.io/repos/34210019/issues/22)

This now has pagination support, inherited from Got: https://github.com/sindresorhus/got#pagination

just a heads up that GitHub's REST API endpoints that paginate are not consistent. Most respond with an array, but some respond with an object and a key holding the results array. Not even the key is always the same 🤷‍♂ 

See https://github.com/octokit/plugin-paginate-rest.js/blob/e7c5443dc4126f9826be9d069c5396b55ef98fc9/src/normalize-paginated-list-response.ts#L20-L47